* { 
  margin: 0px; 
  padding: 0px; 
}
.app-bar{
  z-index:2000;
}
.side-bar{
 margin:0;
}

.menu {
  z-index:1900;
}
.side-bar-header {
  z-index:1800;
  padding: 0.1rem 1rem;
  position: sticky;
  top: 0;
}
.chat-window
{
  z-index:1700;
  position: sticky;
}
.main-contens{
  z-index:1000;
}
.character_image_ss{
  width: auto;
  max-height: 50px;
}
.character_image_s{
  width: auto;
  max-height: 100px;
}
.character_image_m{
  width: auto;
  max-height: 160px;
}
.character_image_l{
  width: auto;
  max-height: 320px;
}
.item_image_s{
  width: auto;
  max-height: 100px;
}
.bg-img{
  background-size: cover;
  background:right;
  background-repeat: no-repeat;
}
.tw-phot{
  border-radius: 20px;
  vertical-align: top;
}

.v-text-field input {
  font-size: 1.0em;
}
