* { 
  margin: 0px; 
  padding: 0px; 
}
.app-bar{
  z-index:1900;
}
.side-bar{
 margin:0;
}

.side-bar-header {
  z-index:1800;
  background-color: rgb(0, 0, 0);
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
  padding: 0.1rem 1rem;
  position: sticky;
  top: 0;
  margin:0;

}
.chat-window
{
  z-index:1700;
  background-color: rgb(0, 0, 0);
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
  padding: 0.1rem 1rem;
  position: sticky;
  left: 0;
  margin:0;

}
.main-contens{
  z-index:1000;
}
.character_image_ss{
  width: auto;
  max-height: 50px;
}
.character_image_s{
  width: auto;
  max-height: 100px;
}
.character_image_m{
  width: auto;
  max-height: 160px;
}
.character_image_l{
  width: auto;
  max-height: 320px;
}
.item_image_s{
  width: auto;
  max-height: 100px;
}

.bg-img{
  background-size: cover;
}

